extends layout

block content
  div
    form(method='post')
      div
        label(for='search') search
        input(id='search', type='text', value='', placeholder='search', name='search')
      div
        input(type='submit', value='Search')